<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/style/admin.css}" />
    <!-- 百度编辑器配置文件 -->
    <script type="text/javascript" th:src="@{/ueditor/ueditor.config.js}"></script>
    <!-- 百度编辑器编辑器源码文件 -->
    <script type="text/javascript" th:src="@{/ueditor/editor_api.js}"></script>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card" style="padding-top: 15px">
            <form class="layui-form layui-form-pane">
                <input type="hidden" name="id" required  lay-verify="required" th:value="${article.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" th:value="${article.title}" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">所在分类</label>
                    <div class="layui-input-inline">
                        <select name="classifyId" lay-verify="">
                            <option th:each="c:${classifies}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id eq article.classifyId}"></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-inline">
                        <input type="hidden" id="img" name="img" th:value="${article.img}" lay-verify="required" >
                        <button style="float: left;" type="button" class="layui-btn" id="imgUpload">上传图片</button>
                        <img th:src="${article.img}" th:width="50px" th:height="50px" th:alt="${article.title}"/>
                    </div>
                    <span id="showImg"></span>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-block">
                        <input type="text" name="author" required value="1"  lay-verify="required" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <div th:if="${article.status eq 0}">
                            <input type="checkbox" id="status" name="status" lay-skin="switch" lay-text="已审核|未审核">
                        </div>
                        <div th:if="${article.status eq 1}">
                            <input type="checkbox" id="status" name="status" lay-skin="switch" lay-text="已审核|为审核" checked>
                        </div>
                        <div th:if="${article.status eq 2}">
                            <input type="checkbox" id="status" name="status" lay-skin="switch" lay-text="已发布|下架" checked>
                        </div>

                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">是否置顶</label>
                    <div class="layui-input-block">
                        <div th:if="${article.isTop eq 0}">
                            <input type="checkbox" id="isTop" name="isTop" lay-skin="switch" lay-text="是|否">
                        </div>
                        <div th:if="${article.isTop eq 1}">
                            <input type="checkbox" id="isTop" name="isTop" lay-skin="switch" lay-text="是|否" checked>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">简介</label>
                    <div class="layui-input-block">
                        <textarea name="intro" th:utext="${article.intro}" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea id="content" name="content" th:utext="${article.content}"></textarea>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">var editor = new UE.ui.Editor();editor.render("content");</script>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block layui-hide">
                        <button class="layui-btn" lay-submit lay-filter="LAY-aticle-edit-submit" id="LAY-aticle-edit-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script>
    /*使用模块加载的方式 加载文件*/
    layui.config({
        base: '../../layui/'
    }).extend({
        treeSelect: "treeSelect"
    }).use(['layer', 'treeSelect','form','upload'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var element = layui.element;
        var form = layui.form;

        upload.render({
            elem: '#imgUpload'
            ,url: "/api/article/thumb"
            ,accept: 'images'
            ,method: 'post'
            ,acceptMime: 'image/*'
            ,done: function(res){
                document.getElementById("img").value=res.data;
                document.getElementById("showImg").innerText = res.data;
                layer.msg("上传成功",{icon: 1,time: 2000});
            }
        });

    });
</script>

</body>
</html>