<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/style/admin.css}" />
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select name="classifyId">
                            <option value="">不设置查询条件</option>
                            <option th:each="c:${classifies}" th:value="${c.id}" th:text="${c.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-article-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    资讯管理
                </div>
                <div class="layui-inline">
                    <p class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-new" data-type="batchdel">批量删除</button>
                        <button class="layui-btn layuiadmin-btn-new" data-type="add">添加</button>
                        <button class="layui-btn layuiadmin-btn-new" data-type="video">添加video</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="LAY-article-list" lay-filter="LAY-article-list" lay-data="{id:'LAY-article-list'}"></table>
            <script type="text/html" id="xuhao">
                {{d.LAY_TABLE_INDEX+1}}
            </script>
            <script type="text/html" id="imgTemplate">
                <img src="{{d.img}}" alt="{{d.img}}"/>
            </script>
            <script type="text/html" id="table-article-tool">
                <a class="layui-btn layui-btn layui-btn-xs" lay-event="check"><i class="layui-icon layui-icon-find-fill"></i>审核</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui/layui.js}" ></script>

<script>
    layui.config({
        base: '../../' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        treeSelect: "treeSelect"

    }).use(['index', 'form','mgameAdmin', 'table','treeSelect'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        //监听搜索
        form.on('submit(LAY-article-back-search)', function(data){
            var field = data.field;
            var article = JSON.stringify(field);

            //执行重载
            table.reload('LAY-article-list', {
                method:'post',
                url: '/api/article/find',
                dataType: "json",
                contentType: "application/json",
                data:article,
                where:
                    field,timestamp: (new Date()).valueOf()
                , page: {
                    curr: 1 //从当前页码开始
                }
            },data);

            return false;
        });

        //事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('LAY-article-list')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请选择数据',{icon:2,time:1000});
                }
                var idList = new Array();
                for(var i=0;i<checkStatus.data.length;i++){
                    idList.push(checkStatus.data[i].id);
                }
                layer.confirm('确定批量删除:'+idList+" 吗？", function(index) {
                    /*parent.layer.msg('删除中...', {icon: 16,shade: 0.3,time:5000});*/
                    //执行 Ajax 后重载
                    $.ajax({
                        url:"/api/article/batchdel",
                        /*async: false,*/
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(idList),
                        dataType: 'json',
                        success: function(data){
                            if(data.code ==0){
                                layer.msg(data.msg,{offset: '15px',icon:1,time: 1000},function () {
                                    layer.close(index); //关闭弹层
                                    table.reload('LAY-article-list');
                                })
                            }else {
                                layer.msg(data.msg,{icon:0,time:1000});
                                window.history.go(-1);
                            }
                        }
                    });
                    return false;
                    table.reload('LAY-article-list');
                    layer.msg('已删除');
                });
            },
            add: function(){
                layer.open({
                    anim: 1,
                    type: 2
                    ,title: '添加'
                    ,content: '/article/add'
                    ,area: ['100%', '100%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#LAY-article-front-submit");

                        /*layer.alert("hello");*/
                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-article-front-submit)', function(data){
                            console.log(data.field.status);
                            if(data.field.status == "on") {
                                data.field.status = "1";
                            } else {
                                data.field.status = "0";
                            }
                            if(data.field.isTop == "on") {
                                data.field.isTop = "1";
                            } else {
                                data.field.isTop = "0";
                            }
                            var field = data.field; //获取提交的字段
                            var article = JSON.stringify(field);
                            console.log(article);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:"/api/article",
                                type:"POST",
                                dataType: "json",
                                contentType: "application/json",
                                data:article,
                                success: function(data){
                                    if(data.code ==0){
                                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                                            layer.close(index); //关闭弹层
                                            table.reload('LAY-article-list');
                                        })
                                    }else {
                                        layer.msg(data.msg,{icon:0,time:1000});
                                    }
                                }
                            });
                            return false;
                        });

                        submit.trigger('click');
                    }
                });
            } ,
            video: function(){
                layer.open({
                    anim: 1,
                    type: 2
                    ,title: '添加带视频链接的文章'
                    ,content: '/article/video/add'
                    ,area: ['100%', '100%']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#LAY-article-front-submit");

                        /*layer.alert("hello");*/
                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-article-front-submit)', function(data){
                            console.log(data.field.status);
                            if(data.field.status == "on") {
                                data.field.status = "1";
                            } else {
                                data.field.status = "0";
                            }
                            if(data.field.isTop == "on") {
                                data.field.isTop = "1";
                            } else {
                                data.field.isTop = "0";
                            }
                            var field = data.field; //获取提交的字段
                            var article = JSON.stringify(field);
                            console.log(article);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:"/api/article",
                                type:"POST",
                                dataType: "json",
                                contentType: "application/json",
                                data:article,
                                success: function(data){
                                    if(data.code ==0){
                                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                                            layer.close(index); //关闭弹层
                                            table.reload('LAY-article-list');
                                        })
                                    }else {
                                        layer.msg(data.msg,{icon:0,time:1000});
                                    }
                                }
                            });
                            return false;
                        });

                        submit.trigger('click');
                    }
                });
            }
        }
        $('.layui-btn.layuiadmin-btn-new').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
</body>
</html>

