<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mai.game.mapper.ForumModuleWeightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="mai.game.entity.po.ForumModuleWeight">
        <id column="id" property="id" />
        <result column="forum_module_id" property="forumModuleId" />
        <result column="weight" property="weight" />
    </resultMap>

    <delete id="clearTable">
        delete from t_forum_module_weight
    </delete>
</mapper>
