<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资讯分类的修改</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form layui-form-pane">
            <div class="layui-row layui-col-space10 layui-form-item">
                <div class="layui-col-lg6">
                    <input type="hidden" name="id" th:value="${classify.id}">
                    <label class="layui-form-label">分类名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" th:value="${classify.name}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-lg6">
                    <label class="layui-form-label">上级分类：</label>
                    <div class="layui-input-block">
                        <input type="text" id="tree" lay-filter="tree" class="layui-input">
                    </div>
                    <input type="hidden" name="pid" id="pid" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序：</label>
                <div class="layui-input-block">
                    <input type="text" name="sort" lay-verify="required" th:value="${classify.sort}"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">简介：</label>
                <div class="layui-input-block">
                    <textarea name="intro" th:utext="${classify.intro}"  class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">详细信息：</label>
                <div class="layui-input-block">
                    <textarea name="other" th:utext="${classify.remark}"  class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit id="mgame-classify-edit-submit" lay-filter="mgame-classify-edit-submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>




<script>
    /*使用模块加载的方式 加载文件*/
    layui.config({
        base: '../../layui/'
    }).extend({
        treeSelect: "treeSelect"
    }).use(['layer', 'treeSelect','form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var treeSelect = layui.treeSelect;

        treeSelect.render({
            // 选择器
            elem: '#tree',
            // 数据
            data: '/api/classify/tree',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '请选择分类,不选择则默认为顶级分类',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            style: {
                folder: {
                    enable: true
                },
                line: {
                    enable: true
                }
            },
            // 点击回调
            click: function(d){
                $("#pid").val(d.current.id);
            },
            // 加载完成后的回调函数
            success: function (d) {
                console.log("请求的分类信息是："+d);
                var checkedId = [[${classify.id}]];
                treeSelect.checkNode('tree', checkedId);
            }
        });

        form.on('switch(status)', function(data){
            $("input[name='status']").val(this.checked ?1:0);
        });
    });
</script>

</body>
</html>