<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="required|email" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-block">
                    <input type="text" name="password" lay-verify="required" value="000000" disabled autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">初始密码为000000，不可改</div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="status" name="status" lay-skin="switch" lay-text="启用|禁用">
                </div>
            </div>-->
            <!--<div class="layui-form-item">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-block">
                    <div th:each="c:${roles}">
                        <input type="checkbox" name="roleList" th:value="${c.id}" th:title="${c.roleName}">
                    </div>
                </div>
            </div>-->
            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" lay-submit lay-filter="LAY-user-back-submit" id="LAY-user-back-submit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

<script>
    /*使用模块加载的方式 加载文件*/
    layui.config({
        base: '../../layui/'
    }).extend({
        treeSelect: "treeSelect"
    }).use(['layer', 'treeSelect','form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
    });
</script>

</body>
</html>