<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<body th:fragment="column">

<div class="fly-column" >
    <div class="layui-container ">
        <div class="fly-panel-title fly-filter layui-clear">
            <span class="fly-filter-right">
                <ul class="layui-clear">
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">7000位在线,</li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">90000位会员,</li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">4000位访客,</li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">今日发帖量:80000,</li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">帖子总量:4000000,</li>
                    <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block">回复总量:30000000,</li>
                </ul>
	        </span>
        </div>
    </div>
</div>

</body>
</html>