<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/style/admin.css}" />
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">分类</label>
                    <div class="layui-input-block">
                        <select name="classify">
                            <option value="">不设置查询条件</option>
                            <option value="0">社区的友情链接</option>
                            <option value="1">论坛的友情链接</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-url-back-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-forum_module" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-forum_module layui-btn-danger" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-permission" id="btn-refresh">刷新表格</button>
            </div>

            <table id="LAY-friend-url-list" lay-filter="LAY-friend-url-list"></table>
            <script type="text/html" id="xuhao">
                {{d.LAY_TABLE_INDEX+1}}
            </script>
            <script type="text/html" id="statusTpl">
                <!--// 这里的 d 和上面的是一样的，表示当前行数据-->
                <input type="checkbox" name="status" id="status"  lay-filter="status" lay-skin="switch" switch_url_id="{{d.id}}" lay-text="启用|禁用" {{ d.status =="1"?"checked":"" }}>
            </script>
            <script type="text/html" id="table-friend-url-right-tools">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/layui/layui.js}" ></script>
<script>
    layui.config({
        base: '../../' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form','mgameAdmin', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        //监听搜索
        form.on('submit(LAY-url-back-search)', function(data){
            var field = data.field;
            var url = JSON.stringify(field);

            //执行重载
            table.reload('LAY-friend-url-list', {
                method:'post',
                url: '/api/url/find',
                dataType: "json",
                contentType: "application/json",
                data:url,
                where:
                field,timestamp: (new Date()).valueOf()
                , page: {
                    curr: 1 //从当前页码开始
                }
            },data);

            return false;
        });

        $('#btn-refresh').click(function () {
            renderTable();
        });
        //事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('LAY-friend-url-list')
                    ,checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                    return layer.msg('请选择数据',{icon:2,time:3000});
                }
                var idList = new Array();
                for(var i=0;i<checkStatus.data.length;i++){
                    idList.push(checkStatus.data[i].id);
                }
                layer.confirm('确定批量删除:'+idList+" 吗？", function(index) {
                    /*parent.layer.msg('删除中...', {icon: 16,shade: 0.3,time:5000});*/
                    //执行 Ajax 后重载
                    $.ajax({
                        url:"/api/url/batchdel",
                        /*async: false,*/
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(idList),
                        dataType: 'json',
                        success: function(data){
                            if(data.code ==0){
                                layer.msg(data.msg,{icon:1,time: 1000},function () {
                                    layer.close(index); //关闭弹层
                                    table.reload('LAY-friend-url-list');
                                })
                            }else {
                                layer.msg(data.msg,{icon:0,time:1000});
                            }
                        }
                    });
                    return false;
                    table.reload('LAY-friend-url-list');
                    layer.msg('已删除');
                });
            },
            add: function(){
                layer.open({
                    anim: 1,
                    type: 2
                    ,title: '添加'
                    ,content: '/url/add'
                    ,area: ['600px', '400px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#LAY-url-front-submit");

                        /*layer.alert("hello");*/
                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-url-front-submit)', function(data){



                            if(data.field.status == "on") {
                                data.field.status = "1";
                            } else {
                                data.field.status = "0";
                            }
                            var field = data.field; //获取提交的字段
                            var url = JSON.stringify(field);
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:"/api/url",
                                /*async: false,*/
                                type:"POST",
                                dataType: "json",
                                contentType: "application/json",
                                data:url,
                                success: function(data){
                                    if(data.code ==0){
                                        console.log(data.msg);
                                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                                            layer.close(index); //关闭弹层
                                            table.reload('LAY-friend-url-list');
                                        })
                                    }else {
                                        layer.msg(data.msg,{icon:0,time:1000});
                                    }
                                }
                            });
                            return false;
                        });
                        submit.trigger('click');
                    }
                });
            }
        }
        $('.layui-btn.layuiadmin-btn-forum_module').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        form.on('switch(status)', function (obj) {
            var checked = obj.elem.checked;
            var status = 0;
            console.log(checked); //开关是否开启，true或者false
            if (checked) {
                status = 1;
            }
            //获取所需属性值
            var id = obj.elem.attributes['switch_url_id'].nodeValue;
            console.log(id);
            $.ajax({
                url: '/api/url/status/' + id + '/' + status,
                type: 'put',
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg, { icon: 1, time: 1000}, function () {
                            layer.close(index); //关闭弹层
                            table.reload('LAY-friend-url-list');
                        })
                    } else {
                        layer.msg(data.msg, {icon: 0, time: 1000});
                    }
                }
            });
        });
    });
</script>
</body>
</html>

