<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/home/global.css}" />
    <link rel="stylesheet" th:href="@{/css/home/mgame.css}" />
    <link rel="stylesheet" th:href="@{/style/admin.css}" />
    <link rel="stylesheet" th:href="@{/style/template.css}" />
</head>
<body>

<div th:include="/home/common/header :: header" ></div>
<div th:include="/home/forum/header :: header" ></div>

<div class="layui-container">
    <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
                <a><cite>当前位置：</cite></a>
                <a href="/">社区</a>
                <a href="/bbs/">论坛</a>
                <a><cite><span th:text="${forumModule.name}"></span></cite></a>
                <a><cite>添加帖子分类</cite></a>
            </span>
        </div>
    </div>
</div>
<div class="layui-container">
    <div class="layui-card" style="padding-top: 15px">
        <div class="layui-card-header">
            <h3>为板块《<span th:text="${forumModule.name}"></span>》编辑帖子分类信息</h3>
        </div>
        <div class="layui-card-body">
            <script type="text/html" id="xuhao">
                {{d.LAY_TABLE_INDEX+1}}
            </script>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                </div>
            </script>
            <table id="classify" lay-filter="classify"></table>
            <script type="text/html" id="table-classify-tool">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
    <div class="layui-row" style="text-align: center">
        <i>(想要编辑数据的话，直接单击对应的单元格编辑即可)</i>
    </div>
</div>

<div th:include="/home/common/footer :: footer" ></div>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    layui.use(['table','util','element'], function(){
        var table = layui.table;
        var $ = layui.$;
        var util = layui.util;
        var element = layui.element;

        util.fixbar({});

        var forumModuleId = [[${forumModule.id}]];
        //第一个实例
        table.render({
            elem: '#classify'
            ,toolbar: '#toolbarDemo'
            ,url: '/api/module/classify/list/'+forumModuleId //数据接口
            ,cols: [
                [ //表头
                    {title: '序号',templet: '#xuhao',width:80},
                    {field: 'name', title: '分类名', edit: 'text',style:'font-weight:bold'},
                    {field: 'remark', title: '描述', edit: 'text'},
                    {title: "操作",width: 150,align: "center",fixed: "right", toolbar: "#table-classify-tool"}
                ]
            ],
            text: {
                none: '暂无相关数据', //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                error: '对不起，加载异常'
            }
        }),
            table.on('tool(classify)', function(obj){
             /*   var data = obj.data; */
                var layEvent = obj.event;
               /* var tr = obj.tr;*/
                var id = obj.data.id;
                var name = obj.data.name;
                if(layEvent === 'del'){ //删除
                    layer.confirm('真的删除分类:《 '+name+' 》吗？', function(index){
                        $.ajax({
                            url:"/api/module/classify/deleteone/"+id,
                            /*async: false,*/
                            type: 'delete',
                            success: function(data){
                                if(data.code ==0){
                                    layer.msg(data.msg,{icon:1,time: 1000},function () {
                                        table.reload('classify');
                                    })
                                }else {
                                    layer.msg(data.msg,{icon:0,time:1000});
                                }
                            }
                        });
                        return false;
                    });
                }
            }),

            table.on('edit(classify)', function(obj){
                $.ajax({
                    url:"/api/module/classify",
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(obj.data),
                    dataType: 'json',
                    success: function(data){
                        if(data.code ==0){
                            layer.msg(data.msg,{icon:1,time: 1000},function () {
                                table.reload('classify');
                            })
                        }else {
                            layer.msg(data.msg,{icon:0,time:1000});
                        }
                    }
                });
                return false;
                //console.log(obj.value); //得到修改后的值
                //console.log(obj.field); //当前编辑的字段名
                //console.log(obj.data); //所在行的所有相关数据
            });
        table.on('toolbar(classify)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var forumId = [[${forumModule.id}]];
            if (obj.event === 'add'){
                layer.open({
                    anim: 1,
                    type: 2
                    ,title: '添加分类'
                    ,content: '/forum/module/classify/add/form/'+forumId
                    ,area: ['800px', '450px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submit = layero.find('iframe').contents().find("#mgame-module-classify-add-front-submit");

                        /*layer.alert("hello");*/
                        //监听提交
                        iframeWindow.layui.form.on('submit(mgame-module-classify-add-front-submit)', function(data){

                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:"/api/module/classify",
                                type:"POST",
                                dataType: "json",
                                contentType: "application/json",
                                data:JSON.stringify(data.field),
                                success: function(data){
                                    if(data.code ==0){
                                        layer.msg(data.msg,{icon:1,time: 1000},function () {
                                            layer.close(index);
                                            table.reload('classify');
                                        })
                                    }else {
                                        layer.msg(data.msg,{icon:0,time:1000});
                                    }
                                }
                            });
                            return false;
                        });
                        submit.trigger('click');
                    }
                });
            }
        });
    });
</script>
</body>
</html>